<% include partials/header %>
<div class="row" style="margin-top:30px;">
<div class="col-md-10" style="margin:auto">
  <input id="inp" type="text" class="form-control" placeholder="Search for a Blog">
<% blogs.forEach(function(blog){ %>
  <div style="width:100%;height:28vh;padding:20px;border:3px solid black;margin-top:10px">
   <h1 class="title"><%= blog.title %></h1>
   <h3><%= blog.author.username %></h3>
   <h4>Number of likes: <%=blog.likes.length %></h4>
   <a class="btn btn-primary" href="/blog/<%=blog._id%>">Visit</a>
  </div>

<% }) %>

</div>

</div>

<% include partials/footer %>
